@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
.form-control {
  position: relative;
  margin-bottom: 0.8rem;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.form-control input,
.form-control select {
  margin: 0.5rem;
  outline: none;
  border: 2px solid #fff;
  border-bottom: 2px solid #eaecef;
  display: block;
  color: #51078d;
  padding: 0.5rem 1.5rem;
  border-radius: 10px;
  font-size: 1rem;
  background-color: #eaecef;
  width: 400px;
}

.form-control input::-webkit-input-placeholder {
  font-size: 13px;
  font-family: Inter, Roboto, Oxygen, Fira Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.form-control input::-moz-placeholder {
  font-size: 13px;
  font-family: Inter, Roboto, Oxygen, Fira Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.form-control input:-ms-input-placeholder {
  font-size: 13px;
  font-family: Inter, Roboto, Oxygen, Fira Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.form-control input::-ms-input-placeholder {
  font-size: 13px;
  font-family: Inter, Roboto, Oxygen, Fira Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.form-control input::placeholder {
  font-size: 13px;
  font-family: Inter, Roboto, Oxygen, Fira Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.form-control input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-control.invalid input {
  border-color: #e53935;
}

.form-control label,
.form-control span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
}

.form-control img {
  width: 30px;
}

#inputValue input {
  -webkit-transition: border 0.22s;
  transition: border 0.22s;
  border-bottom: 2px solid #51078d;
  background-color: #fff;
  width: 400px;
}

.form-control div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
}

#spanPlaceholder {
  width: 150px;
  font-size: 14px;
  font-family: Inter, Roboto, Oxygen, Fira Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.form-control input:active,
.form-control input:focus {
  -webkit-transition: border 0.22s;
  transition: border 0.22s;
  border-bottom: 2px solid #51078d;
  background-color: #fff;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem 0;
}

#list-item {
  height: 130px;
  display: block;
}

#list-item div {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #eaecef;
  border-bottom: 1px solid #eaecef;
}

#list-item div:nth-child(2n) {
  height: 45px;
}

#list-item div span {
  display: inline-block;
}

#list-item button {
  width: 122px;
  font-size: 11px;
}

.span1 {
  width: 250px;
  font-size: 18px;
}

.span2 {
  margin-left: auto;
  width: auto;
  margin-right: auto;
  max-width: 140px;
}

.span3 {
  margin-left: auto;
  width: auto;
  margin-right: auto;
  max-width: 100px;
}

.span4 {
  width: 630px;
  font-size: 13px;
}

#list-item .span5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
}

.span5 img {
  margin-left: 10%;
}

.loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #ffffff;
  background: -webkit-gradient(linear, left top, right top, color-stop(10%, #ffffff), color-stop(42%, #51078d));
  background: linear-gradient(to right, #ffffff 10%, #51078d 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.loader:before {
  width: 50%;
  height: 50%;
  background: #ffffff;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
}

.loader:after {
  background: #3b0666;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: "";
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.alert {
  padding: 1rem 1.5rem;
  border-left-width: 0.5rem;
  border-left-style: solid;
  margin: 1rem 0;
  position: fixed;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  right: 1%;
  display: block;
  z-index: 5;
}

.alert.primary {
  border-color: #6ea867;
  background-color: #f8f8f8;
}

.alert.danger {
  border-color: #c96f6e;
  background-color: #f8f8f8;
}

.alert p {
  color: #222;
  line-height: 1.7;
  display: block;
  margin-bottom: 0;
  font-size: 14px;
}

.alert.primary h3 {
  color: #51078d;
  margin: 0;
  display: inline-block;
}

.alert.danger h3 {
  color: #c96f6e;
  margin: 0;
  display: inline-block;
}

.alert span {
  display: inline-block;
  float: right;
}

.alert span:hover {
  cursor: pointer;
  opacity: 0.8;
}

::-webkit-datetime-edit-month-field:focus {
  background-color: #51078d;
}

::-webkit-datetime-edit-day-field:focus {
  background-color: #51078d;
}

::-webkit-datetime-edit-year-field:focus {
  background-color: #51078d;
}

::-webkit-calendar-picker-indicator {
  font-size: 1rem;
  font-family: Inter, Roboto, Oxygen, Fira Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: Inter, Roboto, Oxygen, Fira Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  background-image: url(./images/background.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.btn {
  color: #fff;
  position: relative;
  border-radius: 10px;
  letter-spacing: 0.05em;
  border: 1px solid #6e00c9;
  text-transform: uppercase;
  padding: 0.8rem 0.8rem;
  font-weight: 600;
  outline: none;
  background: #6e00c9;
  -webkit-transition: all 0.22s;
  transition: all 0.22s;
  font-size: 12px;
  font-family: Helvetica "Courier New", Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.divBtn {
  display: block;
  text-align: center;
  border-top: 1px solid #eaecef;
  font-size: 14px;
  margin-right: 38px;
}

.divBtn button {
  margin-top: 1rem;
}

.btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.btn:disabled {
  cursor: not-allowed;
  opacity: 1 !important;
  background: #eee !important;
  border-color: #ddd !important;
  color: #999 !important;
  padding: 0.8rem 0.8rem;
}

.btn.primary {
  background: #51078d;
  color: #fff;
}

.btn.delete {
  background: #fff;
  color: #c96f6e;
  border-color: #c96f6e;
  padding: 0.5em 0.5rem;
}

.btn.recover {
  background: #fff;
  color: #6ea867;
  border-color: #6ea867;
  padding: 0.5em 0.5rem;
}

.container {
  margin: 0 auto;
  max-width: 800px;
  height: 100%;
}

.card {
  padding: 1.5rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  -webkit-box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.2);
  background: #ffffff;
}

.labelMain {
  display: block;
  text-align: right;
  border-bottom: 1px solid #eaecef;
  font-size: 14px;
  padding-bottom: 0.5rem;
  color: #51078d;
}

.labelMain span {
  font-size: 16px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.card.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card.center h4 {
  margin-right: 38px;
}

#loadList {
  margin-right: 38px;
}